import time
import datetime

#Puts time stamp into month/day of month format
time = str(datetime.datetime.now())
time2 = ((time.split("-")))
print (time2)
time3 = (time2[2].split(" "))
print (time3)

#prints out the date in month/day format and the item_list's first value (which is the original item) with spaces in between
print (time2[1] + "/" + time3[0])
